<html>
	<head>
		<style type="text/css"> 
			#mydiv 
			{
			position:absolute;
			top: 30%;
			left: 50%;
			width:30em;
			height:9em
			margin-top: -9em; /*set to a negative number 1/2 of your height*/
			margin-left: -15em; /*set to a negative number 1/2 of your width*/
			border: 1px solid #ccc;
			background-color: #f3f3f3;
			}

		</style>
		<title>Welcome </title>
    </head>
    <body>
		<div id="mydiv">
		<h1> WELCOME TO THE HOME PAGE </h1>
		<a href="{{ path('logout') }}">LOGOUT</a>
	    </mydiv>
   </body>
</html>
   